<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-title class="titulo">Tiendas</ion-title>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-avatar slot="start" routerLink="/comida">
            <img alt="Comida" src="assets/imagenes/comida.png" width="10%"/>
          </ion-avatar>
        </ion-item>
        <ion-item>
          Comida
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-avatar slot="start" routerLink="/ropa">
            <img alt="Ropa" src="assets/imagenes/ropa.png" width="10%"/>
          </ion-avatar>
        </ion-item>
        <ion-item>
          Ropa
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-avatar slot="start" routerLink="/mercado">
            <img alt="Mercado" src="assets/imagenes/mercado.png" width="10%"/>
          </ion-avatar>
        </ion-item>
        <ion-item>
          Mercado
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-avatar slot="start" routerLink="/libreria">
            <img alt="Libreria" src="assets/imagenes/libreria.png" width="10%"/>
          </ion-avatar>
        </ion-item>
        <ion-item>
          Libreria
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-avatar slot="start" routerLink="/informatica">
            <img alt="Informatica" src="assets/imagenes/informatica.png" width="10%"/>
          </ion-avatar>
        </ion-item>
        <ion-item>
          Informática
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-avatar slot="start" routerLink="/farmacia">
            <img alt="Farmacia" src="assets/imagenes/farmacia.png" width="10%"/>
          </ion-avatar>
        </ion-item>
        <ion-item>
          Farmacia
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-avatar slot="start" routerLink="/jugueteria">
            <img alt="Jugueteria" src="assets/imagenes/jugueteria.png" width="10%"/>
          </ion-avatar>
        </ion-item>
        <ion-item>
          Juguetería
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-avatar slot="start" routerLink="/sexshop">
            <img alt="Sexshop" src="assets/imagenes/sexshop.png" width="10%"/>
          </ion-avatar>
        </ion-item>
        <ion-item>
          Sexshop
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
